#name {
    font-size: 90px;
    margin-top: 70px;
}

body {
    color: #747FE0;
}

.container {
    width: 65%;
} 

.inconsolata {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 112.5;
}

@media screen and (max-width: 800px) {

    #name {
        font-size: 13vw;
    }

    .container {
        width: 100%;
    }
}