a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: "> ";
}

.container {
    width: 65%;
}

.nav-item.h5{
    margin: 20px;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.inconsolata {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 112.5;
}

.non-select {
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#name {
    font-size: 90px;
    margin-top: 70px;
    color: #747FE0;
    display: flex;
    align-items: center;
}

#blink1 {
    background-color: #a9b0eb;
    height: 90px;
    width: 40px;
    display: inline-block;
}

#bio a {
    color: #747FE0;
}

#bio {
    font-size: 21px;
    width: 80%;
}

#window {
    border: 5px solid #eeebeb;
    height: auto;
}

#menu {
    background: #929294;
    background: linear-gradient(90deg, #929294 0%, #cdc6c6 79%);
    display: flex;
    height: fit-content;
    justify-content: space-between; 
}

#win-buttons {
    width: auto;
    height: 30px;
}

#data-box {
    border-top: 2px solid #eeebeb;
    height: 100%;
    width: auto;
    background-color: #008080;
    padding: 40px;
    font-size: 19px;
    color: white;
}

#data-box a {
    color: #7cc3e9;
}

#data-box ul{
    display: inline;
}

#blink2 {
    background-color: rgb(209, 205, 205);
    height: 20px;
    width: 10px;
    display: inline-block;
}

#blank {
    height: 19px;
    width: 10px;
    display: inline-block;
}

footer div section a i{
    padding: 10px;
}

.fa-twitter {
    background: skyblue;
}

.fa-instagram {
    background: rgb(234, 135, 209);
}

.fa-linkedin {
    background: rgb(89, 127, 216);
}

.fa-github {
    background: white;
    border: 2px solid black;
    border-style: inset;
    padding: 8px;
}

.fa-youtube {
    background: rgb(234, 108, 108);
}

@media screen and (max-width: 800px) {
    #name {
        font-size: 13vw;
    }

    #blink1 {
        height: 13vw;
        width: 5.8vw;
    }

    #bio {
        font-size: 4.5vw;
        width: 100%;
    }

    #data-box {
        padding: 10px;
    }
    .nav-item.h5{
        margin: 5px;
    }

    .container {
        width: 100%;
    }

    footer div section a i{
        padding: 0;
    }

}